.open-rank-table-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.open-rank-table {
  width: 66%;
  max-width: 1200px; /* Set max width for the table */
  border-collapse: collapse;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.open-rank-table th,
.open-rank-table td {
  padding: 12px 15px;
  border: 1px solid #2a2a2a;
  text-align: left;
  word-wrap: break-word;
  white-space: nowrap; /* Prevent columns from expanding */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for overflow content */
}

.open-rank-table th {
  background-color: #292929;
  color: #bb86fc;
}

.open-rank-table tbody tr.collapsible-row {
  cursor: pointer;
}

.open-rank-table .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.open-rank-table .expandable-row {
  background-color: #333333;
}

.open-rank-table .expandable-content {
  padding: 10px;
  color: #e0e0e0;
  font-size: 0.9em;
  white-space: normal; /* Allow normal wrapping for expandable content */
  max-height: 100px; /* Set a fixed height for the expandable content */
  overflow-y: auto; /* Add a scrollbar if the content exceeds the max-height */
}

.open-rank-table .arrow-cell {
  text-align: left;
  cursor: pointer;
  font-size: 1.2em;
  color: #bb86fc;
}

a {
  color: #bb86fc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.loading,
.error {
  font-size: 1.2em;
  margin: 20px;
}

/* Mobile Styles */
@media (max-width: 900px) {
  .open-rank-table {
    width: 100%;
    border: 0;
  }

  .open-rank-table thead {
    display: none;
  }

  .open-rank-table tr {
    display: block;
    margin-bottom: 15px;
  }

  .open-rank-table td {
    display: flex;
    justify-content: space-between; /* Ensure content is visible */
    text-align: left;
    padding-left: 15px;
    position: relative;
    border: 1px solid #2a2a2a;
  }

  .open-rank-table td::before {
    content: attr(data-label);
    font-weight: bold;
    background-color: #292929;
    color: #bb86fc;
    flex: 1;
  }

  .open-rank-table td span {
    flex: 1;
    text-align: right; /* Ensure text is visible */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .open-rank-table .expandable-row td {
    padding-left: 15px;
  }

  .open-rank-table .profile-image {
    width: 60px; /* Increase profile image size */
    height: 60px;
  }

  .open-rank-table .expandable-content {
    font-size: 0.8em;
    max-height: 100px; /* Set a fixed height for the expandable content */
    overflow-y: auto; /* Add a scrollbar if the content exceeds the max-height */
  }

  .open-rank-table .arrow-cell {
    text-align: left;
    font-size: 1em;
    display: flex;
    align-items: center;
  }

  .arrow-cell::after {
    content: " Cast Text";
    font-weight: bold;
    color: #bb86fc;
    margin-left: 5px;
  }
}
